<!-- Views/Home/About.cshtml -->
@model Hotel.Models.About
@{
    ViewData["Title"] = "About Us";
}

<div class="hero">
    <div class="container my-5 pt-5">
        <div class="row">
            <div class="col-12">
                <div class="card shadow">
                    <div class="card-body">
                        @if (Model != null)
                        {
                            @Html.Raw(Model.Description)
                        }
                        else
                        {
                            <p>Content is being updated. Please check back soon.</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>