@{
    ViewData["Title"] = "Home Page";
}

<div class="hero d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="mb-4">Welcome to Luxury Hotel</h1>
        <p class="lead mb-4">Experience the best stay with world-class services</p>
        <a class="btn btn-warning btn-outline-danger px-4 py-2" asp-area="" asp-controller="Room" asp-action="AllRooms">
            Explore Options
        </a>
    </div>
</div>
