
.hero {
    background: beige no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: darkred;
    text-align: center;
}
.default {
    background: #E0EDBB no-repeat center center/cover;
    color: darkred;
}