@model Hotel.ViewsModels.ProfileViewModel
@{
    ViewData["Title"] = "User Profile";
}

<div class="hero">
    <div class="container my-5">
        <div class="row m-md-4">
            <h2 class="text-center">User Profile</h2>
        </div>
        <div class="card p-4 shadow-lg default">
            <div class="mb-3">
                <h4>Welcome, @Model.FirstName @Model.LastName!</h4>
            </div>
            <div class="mb-3">
                <p><strong>Email:</strong> @Model.Email</p>
                <!-- Add more profile information as needed -->
            </div>
            <a class="btn btn-warning btn-outline-danger" asp-controller="Users" asp-action="Logout">Logout</a>
        </div>
    </div>
</div>