@model Hotel.ViewsModels.SignModel
@{
    ViewData["Title"] = "Sign In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero">
    <div class="container my-5">
        <div class="row m-md-4">
            <h2 class="text-center">Sign Up</h2>
        </div>
        <div class="card p-4 shadow-lg default">
            <form method="post" asp-controller="Users" asp-action="Sign">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Email"></label>
                    <input class="form-control" asp-for="Email" placeholder="example@email.com">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Name"></label>
                    <input class="form-control" asp-for="Name" placeholder="John Doe">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Phone"></label>
                    <input class="form-control" asp-for="Phone" placeholder="Mobile number (digits only)">
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="Password"></label>
                    <input class="form-control" asp-for="Password" placeholder="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="ConfirmPassword"></label>
                    <input class="form-control" asp-for="ConfirmPassword" placeholder="Confirm Password">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <h6>Already have an account?</h6>
                    <a class="nav-link" asp-controller="Users" asp-action="Login">Login</a>
                </div>

                <button class="btn btn-warning btn-outline-danger w-100" type="submit">Sign Up</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
